* {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
body {
    background-color: #ecf0ff;
}
.container {
    padding-right: 301px;
    display: flex;
    flex-direction: column;
}
.mavi_kutu {
    background-color: #5074f3;
    width: 348px;
    height: 1199px;
    align-self: center;
    position: absolute;
}
.beyazkutu {
    margin-left: 517px;
    margin-top: 300px;
    margin-right: 517px;
    margin-bottom: 300px;
    background-color: #ffffff;
    height: 597px;
    position: relative;
    border-radius: 15px;
    padding-left: 90px;
    padding-right: 90px;
    align-content: center;
}

.helpdivi {
    font-weight: bold;
    font-size: 22px;
    margin-top: 110px;
    margin-bottom: 20px;
}
.heredivi {
    display: flex;
    width: 375px;
    align-content: stretch;
    margin-bottom: 34px;
}

.orderlar {
    display: flex;
    flex-direction: column;
}

.managedivi,
.orderingdivi,
.profiledivi {
    display: flex;
    margin-top: 20px;
    background-color: #ffffff;
    height: 67px;
    line-height: 67px;
    border: 1px solid #5074f3;
    border-radius: 15px;
    color: #5074f3;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    padding-left: 29px;
}
.profiledivi {
    background-color: #004cf1;
    color: #fff;
}
